@charset "UTF-8";
html {
    background-color: rgb(69, 69, 69);
}

body {
    margin: auto;
    width: 95%;
    background-color: rgb(59, 59, 59);
    /* border: 1px solid red; */
}

h1 {
    color: white;
    font-size: 40px;
    margin: 5px 5px -5px 5px;
}

hr {
    width: 100%;
    height: 5px;
    background-color: white;
    color: white;
}

div.content {
    display: flex;
}

div.left_content {
    width: 15%;
    /* border: 1px solid red; */
}

fieldset {
    color: white;
    margin: 5px;
}

legend {
    color: white;
    text-align: center;
}

div.right_content {
    width: 85%;
    /* border: 1px solid red; */
}

table.course_table {
    width: 98%;
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

tr.course_table {
    width: 10%;
    height: 75px;
    border: 1px solid black;
    border-collapse: collapse;
}

td.course_table {
    width: 10%;
    height: 75px;
    border: 1px solid black;
    border-collapse: collapse;
}

th.course_table {
    width: 10%;
    height: 50px;
    border: 1px solid black;
    border-collapse: collapse;
}



